<div class="dis">
  <div class="container">
    <div class="card addBack">
      <div class="imgBx"></div>
      <div class="contentBx">
        <h2>Add Subscriber</h2>
        <a href="#">:)</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card removeBack">
      <div class="imgBx"></div>
      <div class="contentBx">
        <h2>Remove Subscription</h2>
        <a href="#">-</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card subscriberList">
      <div class="imgBx"></div>
      <div class="contentBx">
        <h2>Subscriber List</h2>
        <a href="#">==</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card payBack">
      <div class="imgBx"></div>
      <div class="contentBx">
        <h2>Pay for the subscriber</h2>
        <a href="#">$</a>
      </div>
    </div>
  </div>
</div>

<div class="result"></div>
